*{
    padding:0px;
    font-family:sans-serif;
}

body{
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 130vh;
    backdrop-filter:blur(6px);
}


header{
    display:flex;
    flex-direction: row;
    height: 10vh;
    width: 100%;
    background-color: green; 
    justify-content: space-between;
    border: black 2px solid;
     
}

#logo{
    display:flex;
    flex-direction: row;
    
    justify-content:space-around
}

header img{
    height: 8vh;
    width: 20vh;
}


main{
    color: white;
    margin-left: 50px;
    text-shadow: 2px 2px 0 #000;
}

main h1{
   text-align: center;
}

main p{
    font-size:large;
}



.cerrar{
    display: none;
    font-size: large;
}

.abrir{
    font-size: large;
}

input#abrir-cerrar { visibility:hidden; position: absolute; top: -9999px; }

input#abrir-cerrar:checked ~ #sidebar {
    width:300px;
}
input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #contenido {
    margin-left:300px;
    transition: margin-left .4s;
}
input#abrir-cerrar:checked + label[for="abrir-cerrar"] .cerrar { 
    display:inline;
}
input#abrir-cerrar:checked + label[for="abrir-cerrar"] .abrir {
    display:none;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: darkgreen;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing:border-box;
    border-radius: 2px;
    border: black 2px solid;
}

.sidebar .boton-cerrar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 32px;
    width: 32px;
    text-align: center;
    vertical-align: top;
}

.sidebar ul, .sidebar li{
    margin:0;
    padding:0;
    list-style:none inside;
}

.sidebar ul, {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width:200px;
}

.sidebar a  {
    display: block;
    font-size: 120%;
    color: #eee;
    text-decoration: none;
    
}

.sidebar a:hover{
    color:#fff;
    background-color: #f90;

}
.main2{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

.intro{
    width: 60%;
    
}


#contenido {
    transition: margin-left .4s;
    padding: 1rem;
}

.abrir-cerrar {
    color: green;
    font-size:1rem;
}   
.menu li ul a{
    color: purple;
}

.menu li ul{
    display: none;
}

.menu li:hover > ul{
    display: block;
}

.img1{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.img1 img{
    width: 250px;
    height: 350px;
}

.mainbox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.mainbox2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card{
    color: black;
    text-shadow: 0px 0px 0 #000;
}

@media (max-width: 1000px){
    .mainbox{
        flex-direction: column;
    }
}